body{
  max-width: 100%;
  overflow-x: hidden;
}
.otherbody{
  max-width: 100%;
  overflow-x: hidden;
}


.flexMain {
    display:flex;
    align-items: center
  }
  .flex1 { flex:1 }
  .flex2 { flex:2 }
  .flex3 { flex:3 }
  
  button.siteLink {
    margin-left:-5px;
    border:none;
    padding:24px;
    display:inline-block;
    min-width:115px;
  }
  .whiteLink {
    background : #fff;
  }
  .whiteLink:active {
    background : #000;
    color: #fff;
  }
  .blackLink {
    color: #fff;
    background:#232323;
    transition: all 300ms linear;
  }
  
  .blackLink:active {
    color: #000;
    background:#fff
  }
  #siteBrand {
    font-family: impact;
    letter-spacing : -1px;
    font-size:32px;
    color:#252525;
    line-height : 1em;
  }
  #menuDrawer {
    background:#fff;
    position:fixed;
    height:100vh;
    overflow:auto;
    z-index:12312;
    top:0;
    left:0;
    border-right:1px solid #eaeaea;
    min-width:25%;
    max-width:320px;
    width:100%;
    transform : translateX(-100%);
    transition : transform 200ms linear;
  }
  #mainNavigation {
    transition : transform 200ms linear;
    background : #fff;
  }
  .drawMenu > #menuDrawer {
    transform : translateX(0%);
  }
  .drawMenu > #mainNavigation {
    transform : translateX(25%);
  }
  .fa-times {
    cursor : pointer
  }
  a.nav-menu-item:hover {
    margin-left:2px;
    border-left:10px solid black;
  }
  a.nav-menu-item{
    transition:border 200ms linear;
    text-decoration:none;
    display:block;
    padding:18px;
    padding-left:32px;
    border-bottom:1px solid #eaeaea;
    font-weight:bold;
    color:#343434
  }
  select.noStyle {
    border:none;
    outline:none
  }


.drawer-button{
  border-right:1px solid #eaeaea !important;
}

/* .button-width{
  width: 15vh; 
  background-color: rgba(0,0,255,.1)
} */

@media screen and (max-width: 480px) {
  button.siteLink {
      min-width: 4vh;
  }
}

.blue{
  background-color: blue;
}

.red{
  background-color: red;
}

.black{
  background-color: black;
}

.header{
  height: 84vh;
}
.header-text{
  font-size:5rem;
}

.header-button{
  font-weight: 600;
  width: 20vh;
  font-size: 20px;
  border-radius: 25px;
}

.header-link{
  text-decoration: none;
  cursor: pointer;
}

.header-link span i{
    display: inline-block;
    transform: translateX(20%);
    transition: 0.5s;

}

.header-link:hover > span i{
  transform: translateX(60%);
}

.hero{
  height: auto;
  overflow: hidden;
  width: 100%;
}

.hero-image{
  height: 30vh;
}

/* .hero-car{
  width: 28rem;
} */

.hero-wallet{
  height: 30vh;
}

.wallet{
  margin-top:20px;
  height: 75%;
}

.work{
  height: 50vh;
}

.work-image{
  margin-bottom: -250px;
}

.work-text{
  margin-left: 40px;
}

.sign{
  height: 40vh;
}

.sign-border{
  width: 75%;
  border-bottom: 1px solid black;
}



.sign-link span i{
  display: inline-block;
  transform: translateX(20%);
  transition: 0.5s;

}

.sign-link:hover > span i{
transform: translateX(60%);
}

.footer{
  /* height: 55vh; */
}


.googleregister{
  margin-right: 10px;
}


.right{
  float: right;
}

.map {
  /* background-color: rgba(0, 0, 0, 0.5); */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mapmenu {
  background-color: #e3e2e2;
  padding: 20px;
  position: relative;
  z-index: 2;
  height: 80vh;
  text-align: center;

}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.h-custom {
height: calc(100% - 73px);
}

/* .profile-sec{
  height: 100%;
  background-color: red;
} */
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

@media (max-width: 768px) {
  .map {
    position: relative;
    height: 65vh;
  }
  
  
}

@media(min-width: 768px){
  .mapmenu{
    width: 25vw;
    margin-top: 70px;
    border-radius: 10px;
  }

  
}


@media (max-width: 768px) {
  .center-tweak {
      text-align: center;
      margin-top: 20px;
   } 
}

@media (min-width: 768px) {
  .header-image {
    height:55vh;
    margin-top: 70px;
  } 
  
}

@media (max-width: 768px) {
  .header-text {
    font-size:4rem;
  }

  /* .profile-sec{
    background-color: red;
    height: 100%;
  } */
}

@media (max-width: 768px) {
  body{
    overflow-x:hidden;
  }
  .header{
    height: 89%;
  }
  .image-container{
    padding: 0!important;
    width: 100vw !important;
  }
  .work-phone{
    display: none;
  }
  body{
    overflow-x: hidden;
    max-width: 100vw;
  }
  .smallbgfill{
    height: 100%;
  }
}

